body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

#cartContainer {
  grid-template-columns: 1fr 1fr;
  margin-left: 10px;
}

div.spinner-border {
  width: 5rem;
  height: 5rem;
}

#cartContainer span {
  margin-left: 5px;
}

.cardItem img {
  margin: 0 auto;
  max-height: 50px;
}

.cardItemButton {
  padding: 10px 15px;
  margin: 0 5px;
}